<%= link_to image_tag(asset_path(mate.first_name.downcase + ".jpg"), class: "img-circle fade-in box-shadow", alt: "mate", width: "140", height: "140"), "##{mate.first_name.downcase}" %>

<h2 style="margin-top: 5pt; margin-bottom: 20pt"><%= mate.first_name %></h2>

<%= render 'mates/mate_list', mate: mate %>