<div data-role="header"> <a href="#left-panel" data-rel="panel" class="ui-btn">Nutzerwahl</a>
         <h1><a href="#start">Putzplan</a></h1>
		 <a href="#right-panel" data-rel="panel" class="ui-btn ui-btn-b">Tasks</a>
</div>^