<div data-role="header" data-position="fixed" style="background-color:rgba(255, 255, 255, 0.95);">
	<a href="#left-panel" data-rel="panel" class="ui-btn">Nutzerwahl</a>
    <h1><a href="#start" style="color: black;">Putzplan</a></h1>
    <a href="#right-panel" data-rel="panel" class="ui-btn ui-btn-b">Tasks</a> 
</div>