<div class="text-center">
	
	<%= render mate %>

	<div data-role="collapsible" data-theme="b" data-content-theme="b">
	    <h2>Wähle erledigte Aufgabe...</h2>
	    <ul data-role="listview">
	        <% @areas.each do |area| %>
				<li><a href="index.html"><%= area.name %><span style="width: 7em;float: right;"><%= render 'shared/label', area: area %></span><span class="ui-li-count" style="width: 4.5em;"><%= area.points %> Pkt.</span></a></li>
	        <% end %>
	    </ul>
	</div>
</div>
	