<div data-role="panel" id="left-panel" data-display="push" data-position="left" data-theme="b">
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Bewohner</li>
        <% @mates.each do |mate| %>
            
            <li data-icon="home"><a href="#<%= mate.first_name.downcase %>"><%= mate.first_name %></a></li>

        <% end %>
        </ul>
         <a href="#start" data-rel="close" data-role="button" data-theme="b" data-icon="delete" data-inline="true" class="ui-btn ui-icon-delete">Schließen</a>

    </div>
</div>
<div data-role="panel" id="right-panel" data-display="push" data-position="right" data-theme="a">
    <div data-role="content">
            <% @areas.each do |area| %>
       
                    <form style="text-align : right;">
                        <label for="flip-checkbox-3" style="display: inline; "><%= area.name %></label>
                         <option selected="selected" value="on"></option>
                        <input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-3" data-on-text="dreckg" data-off-text="saubr" data-wrapper-class="custom-size-flipswitch" data-theme="b">
                    </form>

            <% end %>
        <a href="#start" data-rel="close" data-role="button" data-theme="b" data-icon="delete" data-inline="true" class="ui-btn ui-icon-delete">Schließen</a>

    </div>
</div>

 <a href="#" data-rel="close" data-role="button" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">Close</a>