<h1 class="text-center slide" style="margin-bottom: 50px">
WG Status <i class="fa fa-cog fa-spin"></i>
</h1>

<%= render @mates %>

<div class="footer">
      <div class="container">
        <p><b>putzplaner.herokuapp.com</b></p>
      </div>
</div>
